<div>
    <div class="top-section">
        <div class="bg-center bg-auto" style ="background-image: url('assets/2150713079.jpg');">
            <div class="relative h-screen w-full">
                <div class=" w-20rem xl:w-25rem h-10rem xl:h-10rem">
                    <img src="assets/Bujalla_w.png" alt="Bujalla" class="absolute w-20rem xl:w-25rem">
                </div>
            </div>
        </div>
    </div>
    <div class="information-section">
        <div class="section-introduction">
            <div class="relative h-auto px-2 py-3 ">
                <div class="flex justify-content-center bg-white-alpha-90 w-full">
                    <div class="font-light w-8 text-orange-800">
                        <p class="text-5xl">Firma z historią... </p>
                        <p class="text-2xl line-height-3"> 
                            Nasz zakład to firma rodzinna, gdzie sztuka rzemiosła stolarskiego jest przekazywana już na czwarte pokolenie. <br>
                            Od około 1935 roku nasza rodzina rzetelnie i z pasją przekazuje sobie tajniki tego rzemiosła, tak aby nasze wyroby były wykonywane w najwyższej klasie i jakości. 
                            Podążając za coraz to nowszą technologią staramy się aby nasze oferowane usługi i ciekawe wzornictwo sprostały wymaganiom oczekiwanym przez naszych klientów. 
                            Drzwi drewniane tworzone przez naszą firmę produkowane są w oparciu o indywidualne życzenie danego klienta.
                        </p>
                    </div>
                </div>
                <div class="card flex justify-content-center">
                    <p-image src="assets/rodzina.png" width="350" alt="Image" [preview]="true"></p-image>
                </div>
            </div>
        </div>
    </div>
</div>