<div class="home">
    <div class="top-section">
        <div class="relative bg-cover bg-center h-screen w-full">
            <div class="overflow-hidden flex justify-content-center">
                <img src="assets/logo_2.png" alt="Bujalla" class="w-30rem absolute mb-8 bottom-0">
            </div>
        </div>
    </div>
    <div class="information-section h-auto px-8 py-3 mx-8">
        <div class="relative bg-white-alpha-90 w-full">
            <div class="font-light text-orange-800">
                <p class="text-5xl"> Firma z historią... </p>
                <p class="text-2xl line-height-3"> 
                    Nasz zakład to firma rodzinna, gdzie sztuka rzemiosła stolarskiego jest przekazywana już na czwarte pokolenie. <br>
                    Od około 1935 roku nasza rodzina rzetelnie i z pasją przekazuje sobie tajniki tego rzemiosła, tak aby nasze wyroby były wykonywane w najwyższej klasie i jakości. 
                    Podążając za coraz to nowszą technologią staramy się aby nasze oferowane usługi i ciekawe wzornictwo sprostały wymaganiom oczekiwanym przez naszych klientów. 
                    Drzwi drewniane tworzone przez naszą firmę produkowane są w oparciu o indywidualne życzenie danego klienta.
                 </p>
            </div>
            <div class="card flex justify-content-center">
                <p-image src="assets/rodzina.png" width="600" alt="Image" [preview]="true"></p-image>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="relative h-4rem w-full">
            <div class="pt-2 text-center font-light text-orange-800">
                <p>© Stolarstwo Bujalla | 46-022 Luboszyce, ul.Opolska 1 | Wszelkie prawa zastrzeżone</p>
            </div>
        </div>
    </div>
</div>