<div class="bg-black-alpha-90">
  <div
    class="flex align-items-center justify-content-center flex-wrap h-17rem xl:h-13rem w-full"
  >
    <div class="mr-6">
      <img
        src="assets/Bujalla_w.png"
        alt="Bujalla"
        height="100"
        class="xl:flex-order-0 mx-2 xl:mx-6"
      />
    </div>
    <div class="text-white">
      <div class="flex align-items-center justify-content-start">
        <i class="pi pi-phone pr-2"></i>
        <p>+48 601-695-303</p>
      </div>
      <div class="flex align-items-center justify-content-start">
        <i class="pi pi-map-marker pr-2"></i>
        <p>46-022 Luboszyce, ul.Opolska 1</p>
      </div>
      <div class="flex align-items-center justify-content-start">
        <i class="pi pi-envelope pr-2"></i>
        <p>biuro&#64;drzwi-bujalla.pl</p>
      </div>
    </div>
  </div>
</div>
