<div class="footer border-round-top mt-2 mx-4 xl:mx-6 xl:mt-2">
    <div class="relative flex-wrap h-17rem xl:h-13rem w-full">
        <div class="flex justify-content-center flex-wrap py-3 xl:py-4">
            <img src="assets/bujalla.png"  alt="Bujalla" height="55" class="xl:flex-order-0 mx-2 xl:mx-6" />
        </div>
        <div class="end w-full"></div>
        <div class="flex justify-content-around  flex-wrap py-1 xl:py-3 ">
            <div class=" flex align-items-center justify-content-center">
                <i class="pi pi-phone pr-1"></i>
                <p>+48 601-695-303</p>
            </div>
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-map-marker pr-1"></i>
                <p>46-022 Luboszyce, ul.Opolska 1 </p>
            </div>
            <div class=" flex align-items-center justify-content-center">
                <i class="pi pi-envelope pr-1"></i>
                <p>biuro&#64;drzwi-bujalla.pl</p>
            </div>
        </div>
        <div class="end h-1rem w-full"></div>
    </div>
</div>