.top-section {
    background-image: url('C:/Repositories/Bujalla/src/assets/2150712867.jpg');
 
 }
 
.maps{
    background-image: url('C:/Repositories/Bujalla/src/assets/tlo.png');
}

 .footer {
     background-color: #e9e6e1;
 }