<div>
    <div class="top-section">
        <div class="first-section">
            <div class="flex justify-content-center align-content-center flex-wrap">
                <div class="flex align-items-center justify-content-center mx-5 my-5 xl:mx-8 xl:my-5">
                    <div class=" w-20rem xl:w-20rem h-4rem xl:h-4rem">
                        <img src="assets/p5.png" alt="Bujalla" class="absolute w-20rem xl:w-20rem">
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center mx-2 my-2 xl:mx-8 xl:my-5">
                    <div class="bg-white-alpha-90 h-auto mx-2 my-2 xl:px-8 xl:py-5 border-round">
                        <div class="flex justify-content-center ">
                            <div class="font-light w-15 px-2">
                                <p class="text-2xl xl:text-3xl line-height-3 text-center"> 
                                    Zakład Stolarski Jerzy Bujalla<br>
                                    46-022 Luboszyce ul. Opolska 1<br>
                                    tel. 77/421-59-56<br>
                                    tel. 601-695-303<br>
                                    email: biuro&#64;drzwi-bujalla.pl                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="information-section">
        <div class="section-introduction">
            <div class="relative h-auto px-2">
                <div class="flex justify-content-center w-full">
                    <div class="font-light w-8">
                        <p class="text-5xl">Firma z historią... </p>
                        <p class="text-2xl line-height-3"> 
                            Nasz zakład to firma rodzinna, gdzie sztuka rzemiosła stolarskiego jest przekazywana już na czwarte pokolenie. <br>
                            Od około 1935 roku nasza rodzina rzetelnie i z pasją przekazuje sobie tajniki tego rzemiosła, tak aby nasze wyroby były wykonywane w najwyższej klasie i jakości. 
                            Podążając za coraz to nowszą technologią staramy się aby nasze oferowane usługi i ciekawe wzornictwo sprostały wymaganiom oczekiwanym przez naszych klientów. 
                            Drzwi drewniane tworzone przez naszą firmę produkowane są w oparciu o indywidualne życzenie danego klienta.
                        </p>
                    </div>
                </div>
                <div class="card flex justify-content-center">
                    <p-image src="assets/rodzina.png" width="350" alt="Bujalla zakład Stolarski" [preview]="true"></p-image>
                </div>
            </div>
        </div>
    </div>
</div>
