<div class="home">
    <div class="top-section">
        <div class="relative bg-cover bg-center h-screen w-full">
            <div class="overflow-hidden flex justify-content-center">
                <img src="assets/logo_2.png" alt="Bujalla" width="500" class="absolute mb-8 bottom-0">
            </div>
        </div>
    </div>
    <div class="information-section h-auto px-8 py-3 mx-8">
        <div class="relative bg-white-alpha-90 w-full">
            <div class="font-light text-orange-800">
                <p class="text-5xl">Skontaktuj się z nami:</p>
                <p class="text-3xl line-height-3 flex justify-content-center text-center"> 
                    Bujalla Jerzy<br>
                    46-022 Luboszyce ul. Opolska 1<br>
                    tel. 77/421-59-56<br>
                    email: biuro&#64;drzwi-bujalla.pl                
                </p>
            </div>
        </div>
    </div>
    <div class="maps h-auto">
            
    </div>
    <div class="footer">
        <div class="relative h-4rem w-full">
            <div class="pt-2 text-center font-light text-orange-800">
                <p>© Stolarstwo Bujalla | 46-022 Luboszyce, ul.Opolska 1 | Wszelkie prawa zastrzeżone</p>
            </div>
        </div>
    </div>
</div>
