<div>
    <div class="top-section">
        <div class="first-section">
            <div class="flex justify-content-center align-content-center flex-wrap">
                <div class="flex align-items-center justify-content-center mx-5 my-3 xl:mx-8 xl:my-5">
                    <div class=" w-20rem xl:w-20rem h-6rem xl:h-6rem">
                        <img src="assets/p4.png" alt="Bujalla" class="absolute w-20rem xl:w-20rem">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="information-section">
        <div class="section-introduction">
            <div class="relative h-auto px-2 py-3 ">
                <div class="flex justify-content-center bg-white-alpha-90 w-full">
                    <div class="font-light w-8">
                        <p class="text-2xl line-height-3"> 
                            Nasza firma oferuje również sprzedaż tarcicy suszonej. Posiadamy olchę, dęba oraz jesiona.<br>
                            Wilgotność: 8-10% | Grubość: 50mm, 35mm, 28mm | Długość: 3,00-6,40m                
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-section">
        <div class="section-introduction">
            <div class="relative w-auto h-auto py-4 px-3 xl:px-8">
                <div class="flex justify-content-center flex-wrap">
                    <div class="item border-round bg-center bg-auto mx-3 my-3" style ="background-image: url('assets/tarcica.jpg');"></div>
                    <div class="item border-round bg-center bg-auto mx-3 my-3" style ="background-image: url('assets/tarcica_1.jpg');"></div>
                    <div class="item border-round bg-center bg-auto mx-3 my-3" style ="background-image: url('assets/tarcica_2.jpg');"></div>
                    <div class="item border-round bg-center bg-auto mx-3 my-3" style ="background-image: url('assets/tarcica_4.jpg');"></div>
                </div>
            </div>
        </div>
    </div>
</div>