.header {
    position: relative;
    background-color: #ffffffe5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.356);
    color: rgb(0, 0, 0);
    transition: .25;
  }
  
  .header.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it's above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.356); /* Optional: Add shadow */
  }
  
  .left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    background-color: transparent;
    border: none;
    color: black;
  }

  .logo-button{
    border: none;
    height: 80px;
    width: 80px;
    background-color: transparent;
  }
  
  .menu-button {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }