<div class="px-4 lg:px-8 lg:mx-8">
  <div
    class="fadein animation-duration-1000 lg:flex justify-content-center align-items-center"
  >
    <div class="px-4 md:px-8">
      <h1
        class="text-5xl xl:text-6xl text-center uppercase title-color pt-5 sm:pt-0 pb-0"
      >
        Oferta
      </h1>
      <p class="text-lg sm:text-xl my-4 description-color text-center">
        Drzwi zewnętrzne na wymiar w Firmie Jerzy Bujalla to idealne rozwiązanie
        dla osób poszukujących unikalnych i estetycznych wejść do domów.
        Tworzone z wysokiej jakości drewna, oferują doskonałą izolację oraz
        możliwość personalizacji kształtu, koloru i wykończenia. Solidna
        konstrukcja zapewnia bezpieczeństwo, a elegancki wygląd podnosi walory
        estetyczne każdego wejścia, czyniąc je wyjątkowym.
      </p>
      <div class="flex justify-content-center align-items-center">
        <div
          class="flex justify-content-center align-items-center button-theme border-round-md h-3rem w-16rem"
        >
          <a
            href="/contact"
            class="no-underline text-white text-3xl w-full text-center"
            >Kontakt</a
          >
        </div>
      </div>
    </div>
    <div class="flex justify-content-center align-items-center">
      <img src="assets/img/outside/w2.png" alt="" class="w-20rem md:w-27rem" />
    </div>
  </div>
  <div class="mb-5">
    <h1
      class="text-2xl sm:text-4xl xl:text-5xl uppercase title-color pt-5 sm:pt-0 pb-0"
    >
      DLACZEGO TO JEST WARTE?
    </h1>
    <div class="md:flex md:flex-wrap text-lg description-color">
      <div class="lg:flex">
        <div class="flex">
          <img src="assets/arrow-circle-right.svg" alt="" class="w-3rem mx-3" />
          <p>
            Personalizacja to kluczowa zaleta drzwi zewnętrznych na wymiar w
            Stolarni Bujalla. Klienci mogą dostosować kształt, kolor oraz
            wykończenie drzwi, co pozwala idealnie wkomponować je w styl
            architektoniczny budynku, tworząc unikalne i estetyczne wejście do
            domu.
          </p>
        </div>
        <div class="flex">
          <img src="assets/arrow-circle-right.svg" alt="" class="w-3rem mx-3" />
          <p>
            Wysoka jakość materiałów zapewnia długowieczność i odporność na
            warunki atmosferyczne. Drzwi zewnętrzne na wymiar wykonane z
            trwałego drewna gwarantują, że będą one służyć przez wiele lat,
            zachowując swoje walory estetyczne oraz funkcjonalność nawet w
            trudnych warunkach.
          </p>
        </div>
      </div>
      <div class="lg:flex">
        <div class="flex">
          <img src="assets/arrow-circle-right.svg" alt="" class="w-3rem mx-3" />
          <p>
            Solidna konstrukcja i opcje dodatkowych zamków zwiększają
            bezpieczeństwo domu, co jest kluczowe dla spokoju mieszkańców. Drzwi
            zewnętrzne na wymiar w Stolarni Bujalla oferują nie tylko estetykę,
            ale również pewność, że dom jest dobrze chroniony przed
            nieproszonymi gośćmi.
          </p>
        </div>
        <div class="flex">
          <img src="assets/arrow-circle-right.svg" alt="" class="w-3rem mx-3" />
          <p>
            Elegancki wygląd drzwi zewnętrznych na wymiar podnosi walory
            estetyczne każdego wejścia, czyniąc je wyjątkowym. Starannie
            zaprojektowane detale oraz unikalne wykończenia sprawiają, że drzwi
            stają się nie tylko funkcjonalnym elementem, ale także ozdobą
            każdego domu.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
