<div>
    <div class="top-section">
        <div class="bg-center bg-auto" style ="background-image: url('assets/tlo_wejsciowe.jpg');">
            <div class="relative h-screen w-full">
                <div class="overflow-hidden flex justify-content-center">
                   <img src="assets/logo_2.png" alt="Bujalla" class="absolute max-w-23rem mb-8 bottom-0">
                </div>
            </div>
        </div>
    </div>
    <div class="information-section">
        <div class="section-introduction">
            <div class="relative h-auto px-2 py-3 ">
                <div class="flex justify-content-center bg-white-alpha-90 w-full">
                <div class="font-light w-8 text-orange-800">
                    <p class="text-5xl">Drzwi zewnętrzne</p>
                    <p class="text-2xl line-height-3"> 
                        Drzwi zewnętrzne wykonujemy na zamówienie głównie z drewna dębowego, sosnowego lub mahoniu. 
                        Drewno w procesie produkcji jest trójwarstwowo klejone co zapewnia wysoką wytrzymałość na uszkodzenia fizyczne, a także wysoką odporność na warunki atmosferyczne. 
                        Domeną naszych drzwi jest również izolacja termiczna i akustyczna.               
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="icon-section">
        <div class="section-introduction">
            <div class="relative h-auto px-2 py-3" style ="background-image: url('assets/tlo.png');">
                <div class="flex justify-content-center flex-wrap">
                    <div class="flex flex-column w-20rem justify-content-center font-bold m-3">
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round mb-2">
                            <img src="assets/doradzimy.png" width="200" alt="">
                        </div>
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round">                       
                            <p class="text-5xl">Doradzimy</p>
                        </div>
                    </div>
                    <div class="flex flex-column w-20rem justify-content-center font-bold m-3">
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round mb-2">
                            <img src="assets/zmierzymy.png" width="200" alt="">
                        </div>
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round">                       
                            <p class="text-5xl">Zmierzymy</p>
                        </div>
                    </div>
                    <div class="flex flex-column w-20rem justify-content-center font-bold m-3">
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round mb-2">
                            <img src="assets/zrealizujemy.png" width="200" alt="">
                        </div>
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round">                       
                            <p class="text-5xl">Zrealizujemy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</div>