<div>
    <div class="top-section">
        <div class="first-section">
            <div class="flex justify-content-center align-content-center flex-wrap">
                <div class="flex align-items-center justify-content-center mx-5 my-3 xl:mx-8 xl:my-5">
                    <div class=" w-20rem xl:w-28rem h-7rem xl:h-7rem">
                        <img src="assets/p1.png" alt="Bujalla" class="absolute w-20rem xl:w-28rem">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="information-section">
        <div class="section-introduction">
            <div class="h-auto px-2 py-3 ">
                <div class="flex justify-content-center bg-white-alpha-90 w-full">
                    <div class="font-light w-8">
                        <p class="text-2xl line-height-3"> 
                            Drzwi zewnętrzne wykonujemy na zamówienie głównie z drewna dębowego, sosnowego lub mahoniu. 
                            Drewno w procesie produkcji jest trójwarstwowo klejone co zapewnia wysoką wytrzymałość na uszkodzenia fizyczne, a także wysoką odporność na warunki atmosferyczne. 
                            Domeną naszych drzwi jest również izolacja termiczna i akustyczna.               
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery">
        <div class="align-content-center w-full h-auto xl:px-8 xl:py-3">
            <div class="xl:px-8 bg-white-alpha-90">
                <div class="mx-4 my-3 xl:mx-8 xl:my-5">
                    <div *ngIf="images" class="grid flex flex-wrap justify-content-center gap-3">
                        <div *ngFor="let image of images; let index = index" class="col-3 border-round flex align-items-center justify-content-center w-18rem h-25rem" key="index">
                            <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" (click)="imageClick(index)" />
                        </div>
                    </div>
                </div>
                <p-galleria
                    [value]="images"
                    [(visible)]="displayCustom"
                    [(activeIndex)]="activeIndex"
                    [numVisible]="7"
                    [circular]="true"
                    [fullScreen]="true"
                    [showItemNavigators]="true"
                    [showThumbnails]="false"
                >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.itemImageSrc" style="width: auto; display: block;" />
                        <h2 style="margin-bottom: 3rem; color: #ffffff;">{{ item.title }}</h2>
                    </ng-template>
                </p-galleria>
            </div>
        </div>
    </div>
</div>