<div class="">
  <div
    class="fadein animation-duration-1000 lg:flex justify-content-center align-items-center px-4 md:px-8 mx-0 xl:mx-8"
  >
    <div class="px-4 md:px-8">
      <h1 class="text-5xl xl:text-6xl text-center title-color pt-5 sm:pt-0">
        Zakład Stolarski Bujalla Jerzy
      </h1>
      <p class="text-lg sm:text-xl my-6 description-color text-center">
        Usługami stolarskimi zajmujemy się od 1935 roku. Przez te wszystkie lata
        doskonaliliśmy nasz zawód tak, aby uzyskać jak najwyższą jakość
        produktu...<br />
        Produkujemy drzwi zewnętrzne i drzwi wewnętrzne z wysokiej klasy drewna
        i naturalnych obłogów. Wykonane są z ościeżnicą i opaskami regulowanymi,
        co pozwala idealnie dopasować je do ściany.<br />
        W naszej ofercie znajdują się również części drewniane dla stolarzy i
        tarcica. Wykonujemy blaty stołowe oraz stopnie schodów drewnianych.
      </p>
      <div class="flex justify-content-center align-items-center">
        <div
          class="flex justify-content-center align-items-center button-theme border-round-md h-3rem w-16rem"
        >
          <a
            href="/contact"
            class="no-underline text-white text-3xl w-full text-center"
            >Kontakt</a
          >
        </div>
      </div>
    </div>
    <div class="flex justify-content-center align-items-center">
      <img
        src="assets/img/inside/p17.png"
        alt="Zakład stolarski Bujalla"
        class="w-20rem md:w-27rem"
      />
    </div>
  </div>
  <div class="my-6 px-3">
    <div class="flex flex-wrap justify-content-center align-items-center">
      <div class="block text-center px-4 my-3">
        <img
          src="assets/check-circle.svg"
          alt="Jerzy Bujalla - Wysoka jakość drzwi"
          class="w-3rem md:w-5rem"
        />
        <h3 class="title-color uppercase">Wysoka jakość</h3>
        <p>
          Firma Jerzy Bujalla wykorzystuje wysokiej klasy materiały, co zapewnia
          trwałość.
        </p>
      </div>
      <div class="block text-center px-4 my-3">
        <img
          src="assets/check-circle.svg"
          alt="Jerzy Bujalla - Personalizacja zamówienia"
          class="w-3rem md:w-5rem"
        />
        <h3 class="title-color uppercase">Personalizacja</h3>
        <p>Klienci mogą dostosować produkty do swoich specyficznych potrzeb.</p>
      </div>
      <div class="block text-center px-4 my-3">
        <img
          src="assets/check-circle.svg"
          alt="Jerzy Bujalla - Doświadczenie w zawodzie"
          class="w-3rem md:w-5rem"
        />
        <h3 class="title-color uppercase">Doświadczenie</h3>
        <p>
          Dysponujemy doświadczeniem i wiedzą która jest przekazywana od
          pokoleń.
        </p>
      </div>
    </div>
  </div>
  <div class="background-color text-white">
    <div class="text-center text-3xl uppercase pt-4">
      <h2>Oferta</h2>
    </div>
    <div class="flex flex-wrap justify-content-center align-items-center">
      <div
        class="block text-center mx-3 2xl:mx-6 my-3 w-24rem lg:w-28rem 2xl:w-32rem"
      >
        <a href="/gallery" class="no-underline">
          <img
            src="assets/wewnetrzenePage.png"
            alt="Oferujemy drzwi wewnętrzne oraz zewnętrzne"
            class="w-full shadow-8"
          />
          <h3 class="text-white text-3xl mb-0">Drzwi</h3>
          <p class="description-color text-xl">
            Oferujemy drzwi wewnętrzne oraz zewnętrzne, łącząc funkcjonalność z
            estetyką.
          </p>
        </a>
      </div>
      <div
        class="block text-center mx-3 2xl:mx-6 my-3 w-24rem lg:w-28rem 2xl:w-32rem"
      >
        <a href="/gallery" class="no-underline">
          <img
            src="assets/stolyPage.png"
            alt="Nasza firma oferuje stoły"
            class="w-full shadow-8"
          />
          <h3 class="text-white text-3xl mb-0">Stoły</h3>
          <p class="description-color text-xl">
            Nasza firma oferuje stoły z wysokiej jakości drewna oraz według
            indywidualnego projektu.
          </p>
        </a>
      </div>
      <div
        class="block text-center mx-3 2xl:mx-6 my-3 w-24rem lg:w-28rem 2xl:w-32rem"
      >
        <a href="/gallery" class="no-underline">
          <img
            src="assets/tarcicaPage.png"
            alt=" Świadczymy usługi sprzedaży tarcicy"
            class="w-full shadow-8"
          />
          <h3 class="text-white text-3xl mb-0">Tarcica</h3>
          <p class="description-color text-xl">
            Świadczymy usługi sprzedaży tarcicy suszonej w różnych klasach.
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="lg:flex justify-content-center align-items-center py-4 mx-6">
    <div class="flex justify-content-center align-items-center mx-8">
      <img src="assets/img/inside/p8.png" alt="" />
    </div>
    <div>
      <h1 class="text-5xl">FAQ</h1>
      <div>
        <div class="py-2">
          <h3 class="text-2xl">Jakie usługi oferuje Firma Jerzy Bujalla?</h3>
          <p class="description-color text-xl">
            Oferujemy produkcję drzwi wewnętrznych, stołów, oraz sprzedaż
            tarcicy.
          </p>
        </div>
        <div>
          <h3 class="text-2xl">Czy mogę dostosować produkty do potrzeb?</h3>
          <p class="description-color text-xl">
            Tak, nasze produkty charakteryzują się możliwością personalizacji,
            co pozwala na idealne dopasowanie.
          </p>
        </div>
        <div class="py-2">
          <h3 class="text-2xl">Jakie materiały są używane do produkcji?</h3>
          <p class="description-color text-xl">
            Wykorzystujemy wysokiej klasy materiały, co zapewnia wysoką jakość i
            estetykę produktów.
          </p>
        </div>
        <div>
          <h3 class="text-2xl">Jak mogę skontaktować się z firmą?</h3>
          <p class="description-color text-xl">
            Zachęcamy do kontaktu telefonicznie lub e-mailowo.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="background-image h-24rem">
    <div class="block text-center pt-8">
      <h3 class="text-white text-3xl">
        Skontaktuj się z nami i odkryj wyjątkowe możliwości!
      </h3>
      <div class="flex justify-content-center align-items-center">
        <div
          class="flex justify-content-center align-items-center button-theme border-round-md h-3rem w-16rem"
        >
          <a
            href="/contact"
            class="no-underline text-white text-3xl w-full text-center"
            >Kontakt</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
