<div>
    <div class="top-section">
        <div class="first-section">
            <div class="flex justify-content-center flex-wrap">
                <div class="flex align-items-center justify-content-center ">
                    <div class=" w-24rem xl:w-27rem h-10rem xl:h-10rem">
                        <img src="assets/Bujalla_w.png" alt="Bujalla" class="absolute w-24rem xl:w-27rem">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="information-section">
        <div class="section-introduction">
            <div class="relative h-auto px-2">
                <div class="flex justify-content-center bg-white-alpha-90 w-full">
                <div class="font-light w-8">
                    <p class="text-5xl"> Zakład Stolarski Bujalla Jerzy</p>
                    <p class="text-2xl line-height-3"> 
                        Usługami stolarskimi zajmujemy się od 1935 roku. Przez te wszystkie lata doskonaliliśmy nasz zawód tak, aby uzyskać jak najwyższą jakość produktu...<br>
                        Produkujemy drzwi zewnętrzne i drzwi wewnętrzne z wysokiej klasy różnego rodzaju drewna i naturalnych obłogów. Wykonane są z ościeżnicą i opaskami regulowanymi, co pozwala idealnie dopasować je do ściany.<br>
                        W naszej ofercie znajdują się również części drewniane dla stolarzy i tarcica. Wykonujemy blaty stołowe oraz stopnie schodów drewnianych.
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>