.first-section {
    background-image: url('/assets/tlo_pokojowe2.jpg');
    height: 780px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .first-section {
    height: 600px;
    background-position: left;

    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .first-section {
    height: 700px;

    }
}

/* For laptops and larger screens, use the original image */
@media only screen and (min-width: 1025px) and (max-width: 1500px) {
    .first-section {
    height: 700px;

    }
}