<div>
    <div class="top-section">
        <div class="bg-center bg-auto" style ="background-image: url('assets/tlo_pokojowe2.jpg');">
            <div class="relative h-screen w-full">
                <div class="overflow-hidden flex justify-content-center">
                   <img src="assets/logo_2.png" alt="Bujalla" class="absolute max-w-23rem mb-8 bottom-0">
                </div>
            </div>
        </div>
    </div>
    <div class="information-section">
        <div class="section-introduction">
            <div class="relative h-auto py-3 ">
                <div class="flex justify-content-center bg-white-alpha-90 w-full">
                <div class="font-light w-8 text-orange-800">
                    <p class="text-5xl"> Drzwi wewnętrzne</p>
                    <p class="text-2xl line-height-3"> 
                        Drzwi wewnętrzne wykonujemy z wysokiej klasy różnego rodzaju drewna i naturalnych obłogów. 
                        Wykonane są z ościeżnicą i opaskami regulowanymi, co pozwala idealnie dopasować je do ściany.         
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="icon-section">
        <div class="section-introduction">
            <div class="relative h-auto py-3" style ="background-image: url('assets/tlo.png');">
                <div class="flex justify-content-center flex-wrap">
                    <div class="flex flex-column w-20rem justify-content-center font-bold m-3">
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round mb-2">
                            <img src="assets/doradzimy.png" width="200" alt="">
                        </div>
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round">                       
                            <p class="text-5xl">Doradzimy</p>
                        </div>
                    </div>
                    <div class="flex flex-column w-20rem justify-content-center font-bold m-3">
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round mb-2">
                            <img src="assets/zmierzymy.png" width="200" alt="">
                        </div>
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round">                       
                            <p class="text-5xl">Zmierzymy</p>
                        </div>
                    </div>
                    <div class="flex flex-column w-20rem justify-content-center font-bold m-3">
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round mb-2">
                            <img src="assets/zrealizujemy.png" width="200" alt="">
                        </div>
                        <div class="flex align-items-center justify-content-center bg-white opacity-70 border-round">                       
                            <p class="text-5xl">Zrealizujemy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-section">
        <div class="gallery">
            <div class="relative h-auto py-3">
                <div class="card flex justify-content-center font-light text-white">
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p1.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 1</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p2.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 2</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p3.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 3</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p4.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 4</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p5.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 5</p>
                    </div>
                </div>
                <div class="card flex h-27rem justify-content-center font-light text-white">
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p6.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 6</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p7.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 7</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p8.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 8</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p9.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 9</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p10.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 10</p>
                    </div>
                </div>
                <div class="card flex justify-content-center font-light text-white">
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p11.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 11</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p12.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 12</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p13.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 13</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p14.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 14</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p15.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 15</p>
                    </div>
                </div>
                <div class="card flex justify-content-center font-light text-white">
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p16.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 16</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p17.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 17</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p18.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 18</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p19.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 19</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p20.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 20</p>
                    </div>
                </div>
                <div class="card flex justify-content-center font-light text-white">
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p21.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 21</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p22.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 22</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p23.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 23</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p24.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 24</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p25.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 25</p>
                    </div>
                </div>
                <div class="card flex justify-content-center font-light text-white">
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p26.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 26</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p27.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 27</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p28.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 28</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p29.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 29</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p30.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 30</p>
                    </div>
                </div>
                <div class="card flex justify-content-center font-light text-white">
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p31.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 31</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p32.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 32</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p33.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 33</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p34.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 34</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p35.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 35</p>
                    </div>
                </div>
                <div class="card flex justify-content-center font-light text-white">
                    <div class="flex flex-column w-auto h-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p36.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 36</p>
                    </div>
                    <div class="flex flex-column w-auto justify-content-center font-bold border-y-2 border-orange-700 m-3">
                        <div class="flex align-items-center justify-content-center">
                        <p-image src="assets/Wewnetrzne/p37.png" alt="Image" width="200" [preview]="true"></p-image>
                        </div>
                        <p class="text-2xl text-center bg-orange-700 ">Drzwi 37</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="relative h-4rem w-full">
            <div class="pt-2 text-center font-light text-orange-800">
                <p>© Stolarstwo Bujalla | 46-022 Luboszyce, ul.Opolska 1 | Wszelkie prawa zastrzeżone</p>
            </div>
        </div>
    </div>
</div>