<div>
    <div class="top-section">
        <div class="bg-center align-content-center w-full h-screen bg-auto" style ="background-image: url('assets/tlo_pokojowe2.jpg');">
            <div class="flex justify-content-center flex-wrap">
                <div class="flex align-items-end justify-content-center mx-5 my-3 xl:mx-8 xl:my-5">
                    <div class=" w-20rem xl:w-25rem h-10rem xl:h-10rem">
                        <img src="assets/Bujalla_w.png" alt="Bujalla" class="absolute w-20rem xl:w-25rem">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="information-section">
        <div class="section-introduction">
            <div class="relative h-auto py-3 ">
                <div class="flex justify-content-center bg-white-alpha-90 w-full">
                <div class="font-light w-8 text-orange-800">
                    <p class="text-5xl"> Drzwi wewnętrzne</p>
                    <p class="text-2xl line-height-3"> 
                        Drzwi wewnętrzne wykonujemy z wysokiej klasy różnego rodzaju drewna i naturalnych obłogów. 
                        Wykonane są z ościeżnicą i opaskami regulowanymi, co pozwala idealnie dopasować je do ściany.         
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="gallery-section">
                
    </div>
</div>